body {
    background-color: #080024;
    color: #61dafb;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 400;
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    background-color: #000;
    width: 30%;
    margin: auto;
    padding: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #61dafb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff;
}

input {
    height: 25px;
    display: block;
    margin: auto;
}
