body {
    background-color: #080024;
    color: #61dafb;
    font-family:"Comfortaa", sans-serif;
    text-align: center;
    font-weight: 400;
}

.container {
    width: 500px;
    margin: auto;
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    background-color: #ffffff;
    width: 100%;
    margin: auto;
    margin-bottom: 5px;
    text-align: left;
    color: #3f3f3f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e7ffff;
    border-radius: 5px;
    font-size: 1.1rem;
}

li p, li span {
    padding: 10px;
}

li span {
    display: flex;
    align-items: center;
}

form {
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

input {
    display: block;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.2rem;
}

#titel {
    margin-bottom: 10px; 
    width: 100%;
}

input[type="submit"] {
    display: inline;
    background-color: #5ddf4c;
    width: 49%;
    margin: 0;
}

input[type="submit"]:hover {
    background-color: #63ec51;
    cursor: pointer;

}

.button {
    border-radius: 10px;
    width: 80px;
    background-color: #3639e4;
    color: #fff;
    cursor: pointer;
    border: none;
    display: inline;
    margin: 10px;
    font-family: "Comfortaa", sans-serif;
}

.button:hover {
    background-color: #0a2170;
}

.delete-btn {
    cursor: pointer;
    max-width: 40px;
    transition: all ease-in-out .2s;
}

.delete-btn:hover {
    max-width: 47px;
    transition: all ease-in-out .2s;
}

select {
    display: inline;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    font-family: "Comfortaa", sans-serif;
    cursor: pointer;
    width: 46%;
}

select > option {
    font-size: 1.1rem;
}


@media screen and (max-width: 550px){
    .container {
        width: 100%;
    }

    li span {
        display: inline;
    }
}